<!--
Generated template for the AddDetailsPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Add Details</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<h2>Add Data</h2>
	<form [formGroup]="DataForm"  (ngSubmit)="saveData(DataForm.value)">
		<ion-item class="no-border">
		<ion-row>

		<ion-item col-4 >
			<ion-select interface="popover" [(ngModel)]="title" [ngModelOptions]="{standalone:true}">
				<ion-option *ngFor="let title of titles()">{{title}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item col-8  >
			<!-- <ion-label floating>Name</ion-label> -->
			<ion-input [ngClass]="{'error-border':!DataForm.controls.name.valid && DataForm.controls.name.touched}" type="text" (ionBlur)="checkName()" (keyup.enter)="DataForm.focusNext()" placeholder="Name" formControlName="name" required=""></ion-input>
		</ion-item>
		<ion-item *ngIf="DataForm.controls.name.hasError('required') && DataForm.controls.name.touched">
			<p>Sorry, field Name is required!</p>
		</ion-item>
		<ion-item *ngIf="DataForm.controls.name.hasError('Present') && DataForm.controls.name.touched">
			<p >Sorry, field Name is already Present! Enter Full Name</p>
		</ion-item>
		</ion-row>	
		
		</ion-item>
		

		<ion-item [ngClass]="{'error-border':!DataForm.controls.email_id.valid && DataForm.controls.email_id.touched}">
			<ion-label floating>Email-Id</ion-label>
			<ion-input (ionBlur)="checkEmail()" (keyup.enter)="DataForm.focusNext()" type="text"   formControlName="email_id" required="" validateOnBlur ></ion-input>
		</ion-item>

   		<ion-item *ngIf="DataForm.controls.email_id.hasError('pattern') && DataForm.controls.email_id.touched">
			<p >Sorry, field Email-Id is not valid!</p>
		</ion-item>

		<ion-item *ngIf="DataForm.controls.email_id.hasError('required') && DataForm.controls.email_id.touched">
			<p >Sorry, field Email-Id is required!</p>
		</ion-item>

		<ion-item *ngIf="DataForm.controls.email_id.hasError('Present') && DataForm.controls.email_id.touched">
			<p >Sorry, field Email-Id is already Present!</p>
		</ion-item>

		<ion-item [ngClass]="{'error-border':!DataForm.controls.mobile_no.valid && DataForm.controls.mobile_no.touched}">
			<ion-label floating>Mobile Number</ion-label>
			<ion-input (ionBlur)="checkMobile()" (keyup.enter)="DataForm.focusNext()" type="Number"   formControlName="mobile_no" required="" ></ion-input>
		</ion-item>

		<ion-item *ngIf="DataForm.controls.mobile_no.hasError('required') && DataForm.controls.mobile_no.touched">
			<p>Sorry, field Mobile Number is required!</p>
		</ion-item>
		<ion-item *ngIf="DataForm.controls.mobile_no.hasError('Present') && DataForm.controls.mobile_no.touched">
			<p >Sorry, field Mobile Nummber is already Present!</p>
		</ion-item>

		<ion-item [ngClass]="{'error-border':!DataForm.controls.hospital_name.valid && DataForm.controls.hospital_name.touched}">
			<ion-label floating>Clinic/Hospital Name</ion-label>
			<ion-input (keyup.enter)="DataForm.focusNext()" type="text"   formControlName="hospital_name" required="" ></ion-input>
		</ion-item>

		<ion-item *ngIf="DataForm.controls.hospital_name.hasError('required') && DataForm.controls.hospital_name.touched">
			<p>Sorry, field Clinic/Hospital Name is required!</p>
		</ion-item>

		<ion-item [ngClass]="{'error-border':!DataForm.controls.designation.valid && DataForm.controls.designation.touched}">
			<ion-label floating>Designation</ion-label>
			<ion-input (keyup.enter)="DataForm.focusNext()" [(ngModel)]="designation" type="text" formControlName="designation" required="" ></ion-input>
		</ion-item>

		<ion-item *ngIf="DataForm.controls.designation.hasError('required') && DataForm.controls.designation.touched">
			<p>Sorry, field Designation is required!</p>
		</ion-item>

		<ion-item [ngClass]="{'error-border':!DataForm.controls.speciality.valid && DataForm.controls.speciality.touched}">
			<ion-label floating>Speciality</ion-label>
			<ion-input (keyup.enter)="setSelectfocus('nation-select')" [(ngModel)]="speciality" type="text"  formControlName="speciality" required="" ></ion-input>
		</ion-item>

		<ion-item *ngIf="DataForm.controls.speciality.hasError('required') && DataForm.controls.speciality.touched">
			<p>Sorry, field speciality is required!</p>
		</ion-item>

		<ion-item [style.border]="select_focus == 'nation-select' ? '1px solid blue' : 'none'" #nationbar [ngClass]="{'error-border':!DataForm.controls.nationality.valid && DataForm.controls.nationality.touched}" >
			<select-searchable 
					(onChange)="setSelectfocus('country-select')"
			        title="Nationality"
			        formControlName="nationality"
			        [items]="nations()"
			        [canSearch]="true">
			    </select-searchable>
		</ion-item>

		<ion-item *ngIf="DataForm.controls.nationality.hasError('required') && DataForm.controls.nationality.touched">
			<p>Sorry, field Nationality is required!</p>
		</ion-item>
		<ion-item *ngIf="DataForm.value.nationality=='OTHERS'" [ngClass]="{'error-border':!DataForm.controls.other_nation.valid && DataForm.controls.other_nation.touched}">
			<ion-label floating>Nationality</ion-label>
			<ion-input (keyup.enter)="DataForm.focusNext()" type="text"   formControlName="other_nation" required="" ></ion-input>
		</ion-item>

		<ion-item *ngIf="DataForm.value.nationality=='OTHERS' && DataForm.controls.other_nation.hasError('required') && DataForm.controls.other_nation.touched">
			<p>Sorry, field Specify Other Nation is required!</p>
		</ion-item>

		<ion-item [style.border]="select_focus == 'country-select' ? '1px solid blue' : 'none'" [ngClass]="{'error-border':!DataForm.controls.country.valid && DataForm.controls.country.touched}">
			<select-searchable 
				(onChange)="setSelectfocus('none')"
					formControlName="country"
			        title="Country Of Residence"
			        [items]="countries()"
			        [canSearch]="true">
			</select-searchable>
		</ion-item>

		<ion-item *ngIf="DataForm.controls.country.hasError('required') && DataForm.controls.country.touched">
			<p>Sorry, field Country is required!</p>
		</ion-item>

		<ion-item *ngIf="DataForm.value.country=='OTHERS'" [ngClass]="{'error-border':!DataForm.controls.other_country.valid && DataForm.controls.other_country.touched}">
			<ion-label floating>Country Of Residence</ion-label>
			<ion-input  (keyup.enter)="DataForm.focusNext()" type="text"   formControlName="other_country" required="" ></ion-input>
		</ion-item>

		<ion-item *ngIf="DataForm.value.country=='OTHERS' && DataForm.controls.other_country.hasError('required') && DataForm.controls.other_country.touched">
			<p>Sorry, field Specify Other Country is required!</p>
		</ion-item>

		<ion-item #emirates_field id="emirates_field" [ngClass]="{'error-border':!DataForm.controls.emirates.valid && DataForm.controls.emirates.touched}">
			<ion-label floating>City</ion-label>
			<ion-input id="keywords_input" (keyup.enter)="DataForm.focusNext()" [(ngModel)]="emirates" type="text"  formControlName="emirates" required="" ></ion-input>
		</ion-item>

		<ion-item *ngIf="DataForm.controls.emirates.hasError('required') && DataForm.controls.emirates.touched">
			<p>Sorry, field City is required!</p>
		</ion-item>

		<ion-item>
			<ion-label floating>Special Remarks or Comments</ion-label>
			<ion-textarea (keyup.enter)="DataForm.focusNext()" type="textarea"  formControlName="comments" ></ion-textarea>
		</ion-item> 

		<button ion-button full color="primary"  [disabled]="!DataForm.valid" style="margin-top: 20px;" type="submit">SUBMIT</button>
	</form>
</ion-content>
