page-add-details {
	.label  p{color:red;}

	ion-select{
		max-width: 100%;
	}

	ion-select .select-ios,ion-select .select-md{
	     padding: 0;
	}
	.item-ios,.item-md{
		padding-left: 0;
	}

	.no-border .item-ios.item-block .item-inner,.no-border .item-md.item-block .item-inner {
	    border-bottom: 0px solid #c8c7cc;
	}
}
