<ion-header>
  <ion-navbar>
  	<button ion-button float-Left (click)="DeleteData()" >
        Delete Data
    </button>
    <button ion-button float-right (click)="downloadCSV()" >
        Export Data
    </button>

  </ion-navbar>
</ion-header>

<ion-content padding>
	<img src="assets/imgs/main-logo.jpg" alt="Logo">
	<!-- <img src="assets/imgs/demo.jpg" alt="Logo"> -->
	<button style="margin-top:50px;" ion-button  (click)="edit()" float-right >Edit Exhibition Name</button>
	<form style="margin-top:50px;" [formGroup]="HomeForm"  (ngSubmit)="saveHomeData(HomeForm.value)">
		<ion-item [ngClass]="{'error-border':!HomeForm.controls.date.valid && HomeForm.controls.date.touched}">
			<ion-label>Date</ion-label>


      		<ion-datetime disabled="{{isDisabled}}" displayFormat="MM DD YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="date_today" formControlName="date" required=""></ion-datetime>
		</ion-item>

		 <ion-item *ngIf="HomeForm.controls.date.hasError('required') && HomeForm.controls.date.touched">
			<p>Sorry, field Date is required!</p>
		</ion-item>

		<ion-item [ngClass]="{'error-border':!HomeForm.controls.exhibition.valid && HomeForm.controls.exhibition.touched}">
			<ion-label>Exhibition Name</ion-label>
      		<ion-input disabled="{{isDisabled}}" [(ngModel)]="exhibit" type="text"  placeholder="Exhibition Name" formControlName="exhibition" required=""></ion-input>
		</ion-item>

		 <ion-item *ngIf="HomeForm.controls.exhibition.hasError('required') && HomeForm.controls.exhibition.touched">
			<p>Sorry, field Exhibition Name is required!</p>
		</ion-item>
    	
    	<button ion-button [disabled]="!HomeForm.valid" type="submit" block>Register</button>
  	</form>

   <!-- <button ion-button click=(deleteData) block>Delete</button> -->
</ion-content>


